@layer base {
    body {
        @apply font-sans text-text;
    }

    h1 {
        @apply mb-4 font-heading text-4xl font-bold;
    }

    h2 {
        @apply mb-4 font-heading text-2xl font-semibold;
    }

    h3 {
        @apply mb-2 font-heading text-lg font-semibold;
    }

    h4,
    h5,
    h6 {
        @apply font-heading font-semibold;
    }

    p {
        @apply mb-4 text-base leading-relaxed;
    }

    a {
        @apply text-link underline hover:text-link-hover;
    }
}
