@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("./assets/fonts/OpenSans-VariableFont.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url("./assets/fonts/OpenSans-Italic-VariableFont.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url("./assets/fonts/UbuntuSans-VariableFont.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 300 700;
    font-display: swap;
    src: url("./assets/fonts/UbuntuSans-Italic-VariableFont.woff2") format("woff2");
}
