@import "tailwindcss";

@theme {
    --font-nunito-sans: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* background colors */
    --color-background-100: white;
    --color-background-80: #f0efeb;
    --color-background-60: #e5e4de;

    /* foreground colors */
    --color-foreground-100: #151414;
    --color-foreground-80: #322f2f;
    --color-foreground-60: #655757;
    --color-foreground-40: #7c7272;
    --color-foreground-20: #9a9393;

    /* accent colors */
    --color-accent-100: #4a564b;
    --color-accent-80: #627663;
    --color-accent-60: #7d937e;
    --color-accent-40: #95b196;

    /* derived colors */
    --color-light: var(--color-background-80);
    --color-dark: var(--color-foreground-80);
    --color-border: var(--color-background-60);
    --color-text: var(--color-foreground-100);
    --color-link: var(--color-foreground-80);
    --color-link-hover: var(--color-foreground-100);

    /* signal colors */
    --color-success: var(--color-accent-100);
    --color-warning: #d4af37;
    --color-error: #b04f3f;
}

@layer base {
    body {
        @apply text-text;
    }

    h1 {
        @apply mb-4 text-4xl font-bold;
    }

    h2 {
        @apply mb-4 text-2xl font-semibold;
    }

    h3 {
        @apply mb-2 text-lg font-semibold;
    }

    p {
        @apply mb-4 text-base leading-relaxed;
    }

    a {
        @apply text-link no-underline hover:text-link-hover;
    }
}
